/* Change default nav link style */
.nav-pills .nav-link {
  font-weight: 600;
  color: white;
}

/* Change active nav link background and text color */
.nav-pills .nav-link.active {
  background-color: #2D4D56;
  color: white;
}

.white {
  color: #2D4D56;
}
