:root {
    --pd-xs:                 calc(0.25rem + 0.2vw);
    --pd-sm:                 calc(0.75rem + 0.5vw);
    --pd-md:                 calc(1rem + 1vw);
    --pd-lg:                 calc(1.5rem + 1.5vw);
    --pd-xl:                 calc(2rem + 2vw);
    --pd-2xl:                calc(3rem + 3vw);
    --pd-auto:               auto;

    --btn-pd-y:              clamp(0.5rem, 0.4vw, 0.75rem);
    --btn-pd-x:              clamp(1rem, 1vw, 2rem);

    --gap-sm:                min(90px, max(calc(4vw - 10px), 0px));
    --gap-md:                min(150px, max(calc(7vw - 30px), 0px));
    --gap-lg:                min(200px, max(calc(9vw - 10px), 0px));
    --gap-xl:                min(250px, max(calc(12vw), 0px));
    --gap-2xl:               min(320px, max(calc(15vw), 0px));

    --mg-xxs:                calc(2px + 0.2vw);
    --mg-xs:                 calc(4px + 0.3vw);
    --mg-sm:                 calc(6px + 0.4vw);
    --mg-md:                 calc(12px + 1vw);
    --mg-ml:                 calc(20px + 1.2vw);
    --mg-lg:                 calc(40px + 1.5vw);
    --mg-xl:                 calc(64px + 2vw);
    --mg-2xl:                calc(96px + 2.5vw);
    --mg-auto:               auto;

    --min-div-size: 320px;
}