*, :before, :after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
html {
    scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'General Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-info);
}

a[href^=tel] {
text-decoration:inherit;
color: inherit;
}
a[href^=mailto] {
  text-decoration: inherit;
  color: inherit;
}


img,
picture,
video,
canvas,
svg{
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

a {
    color: var(--color-50);
}

strong {
    color: var(--color-secondary);
    font-weight: var(--fw-bold) !important;
}

.section {
    padding: var(--spacing-5xl) 0;  
}

.email-link {
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

.email-link:hover {
  color: inherit;
}

:where(h1,h2,h3,h4,h5,h6){ margin-block: 0; }
