.column-container {
  padding: var(--pd-md) var(--pd-auto);
  display: flex;
  justify-content: center;
  min-width: var(--min-div-size);
}

    .mission-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--gap-md);
      justify-content: center;
      max-width: 90%;
      margin: var(--mg-md);
      width: 100%;
      min-width: var(--min-div-size);
    }

    .mission-content {
      display: flex;
      width: clamp(300px, 85vw, 700px);
      max-width: 700px;
      text-align: left;
      flex-direction: column;
      padding-top: var(--pd-xl);
    }

    .mission-subheading {
      color: var(--color-accent);
      font-size: var(--fs-xs);
      font-weight: var(--fw-medium);
      font-family: var(--font-DM-Sans);
      letter-spacing: 3px;
    }

    .mission-title {
      font-size: var(--fs-md);
      font-weight: var(--fw-bold);
      padding-top: var(--pd-sm);
      padding-bottom: var(--pd-md);
    }

    .mission-description {
      padding-top: var(--pd-md);
      font-size: var(--fs-sm);
      font-family: var(--font-lexend);
      font-weight: var(--fw-light);
    }

    .crown-thorns {
      width: clamp(200px, 40vw + 5rem, 400px);
      max-width: 100%;
      height: auto;
      margin: 0;
      padding-bottom: var(--pd-lg);
      filter: drop-shadow(0px 40px 8px rgba(0, 0, 0, 0.6));
    }