:root {
  --color-primary: #345a65;
  --color-secondary: #d98c59;
  --color-accent: #be660e;
  --color-info: #2d4e57;
  --color-muted: #736960;
  --color-dark: #394548;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-darkmode-font: #c2e6ff;

  --color-bg-light: #ffffff;
  --mobile-menu-bg: #ffffff;
  --color-add: #72BB72;


  --color-0: #000000;
  --color-5: #090f11;
  --color-10: #111e22;
  --color-15: #1a2d32;
  --color-20: #233c43;
  --color-25: #2b4b54;
  --color-26: #2d4e57;
  --color-30: #345a65;
  --color-35: #3d6976;
  --color-40: #457887;
  --color-45: #4e8897;
  --color-50: #5797a8;
  --color-55: #68a1b1;
  --color-60: #78abba;
  --color-65: #89b6c2;
  --color-70: #9ac0cb;
  --color-75: #abccd4;
  --color-80: #bcd5dc;
  --color-85: #cde0e5;
  --color-90: #ddeaee;
  --color-95: #eef5f6;
  --color-100: #ffffff;

  --orange-0: #000000;
  --orange-5: #180d02;
  --orange-10: #2f1a04;
  --orange-15: #472605;
  --orange-20: #5f3307;
  --orange-25: #774009;
  --orange-30: #8e4d0b;
  --orange-35: #a6590c;
  --orange-40: #be660e;
  --orange-45: #d98c59;
  --orange-50: #ed8012;
  --orange-55: #d98c59;
  --orange-60: #f19941;
  --orange-64: #f2a152;
  --orange-65: #f3a659;
  --orange-70: #f4b371;
  --orange-75: #f6bf88;
  --orange-80: #f8cca0;
  --orange-85: #fad9b8;
  --orange-90: #fbe6d0;
  --orange-95: #fdf2e7;
  --orange-100: #ffffff;

  --gray-160: #A0A0A0;
  --gray-150: #A8A8A8;
  --gray-140: #A9A9A9;
  --gray-130: #B0B0B0;
  --gray-120: #B8B8B8;
  --gray-110: #BEBEBE;
  --gray-100: #C0C0C0;
  --gray-90: #C8C8C8;
  --gray-80: #D0D0D0;
  --gray-70: #D3D3D3;
  --gray-65: #D8D8D8;
  --gray-60: #DCDCDC;
  --gray-50: #E0E0E0;
  --gray-40: #E8E8E8;
  --gray-30: #F0F0F0;
  --gray-20: #F5F5F5;
  --gray-10: #F8F8F8;
  --gray-0: #FFFFFF;

  --color-bg-light: #F4F6F7;
  --color-transparent: transparent;

  --btn-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  --container-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  --image-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);

  --rail-g1: var(--color-30, #345a65);
  --rail-g2: var(--color-45, #4e8897);
  --rail-g3: var(--color-65, #89b6c2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #345a65;
    --color-secondary: #d98c59;
    --color-accent: #be660e;
    --color-info: #2d4e57;
    --color-muted: #736960;
    --color-dark: #313537;
    --color-white: #dfdedc;
    --color-black: #dfdedc;
    --color-darkmode-font: #e6faff;

    --color-bg-light: #121c1f !important;
    --mobile-menu-bg: #121c1f;

    --color-0: #ffffff;
    --color-5: #eef5f6;
    --color-10: #ddeaee;
    --color-15: #cde0e5;
    --color-20: #bcd5dc;
    --color-25: #abccd4;
    --color-26: #9ac0cb;
    --color-30: #89b6c2;
    --color-35: #78abba;
    --color-40: #68a1b1;
    --color-45: #5797a8;
    --color-50: #4e8897;
    --color-55: #457887;
    --color-60: #3d6976;
    --color-65: #345a65;
    --color-70: #2b4b54;
    --color-75: #233c43;
    --color-80: #1a2d32;
    --color-85: #111e22;
    --color-90: #090f11;
    --color-95: #040708;
    --color-100: #000000;

    --orange-0: #ffffff;
    --orange-5: #fdf2e7;
    --orange-10: #fbe6d0;
    --orange-15: #fad9b8;
    --orange-20: #f8cca0;
    --orange-25: #f6bf88;
    --orange-30: #f4b371;
    --orange-35: #f3a659;
    --orange-40: #f2a152;
    --orange-45: #f19941;
    --orange-50: #ed8012;
    --orange-55: #d98c59;
    --orange-60: #be660e;
    --orange-64: #a6590c;
    --orange-65: #8e4d0b;
    --orange-70: #774009;
    --orange-75: #5f3307;
    --orange-80: #472605;
    --orange-85: #2f1a04;
    --orange-90: #180d02;
    --orange-95: #0c0601;
    --orange-100: #000000;

    --gray-160: #2a2a2a;
    --gray-150: #333333;
    --gray-140: #3d3d3d;
    --gray-130: #444444;
    --gray-120: #505050;
    --gray-110: #5c5c5c;
    --gray-100: #666666;
    --gray-90: #808080;
    --gray-80: #999999;
    --gray-70: #aaaaaa;
    --gray-65: #b3b3b3;
    --gray-60: #c0c0c0;
    --gray-50: #cccccc;
    --gray-40: #d8d8d8;
    --gray-30: #e5e5e5;
    --gray-20: #f0f0f0;
    --gray-10: #f8f8f8;
    --gray-0: #ffffff;

    --color-transparent: transparent;
    --btn-shadow: 0 2px 6px rgba(255, 255, 255, 0.25);
    --container-shadow: 0 10px 30px rgba(255, 255, 255, 0.25);
    --image-shadow: 0 0px 10px rgba(255, 255, 255, 0.25);
  }

  .theme-image-thorns {
    content: url("https://raw.githubusercontent.com/DanR978/iglesiaRestauracion/main/resources/media/images/thorns-dark.svg");
  }

  body {
    background-color: var(--color-bg-light) !important;
    color: var(--color-dark);
  }
}